form {
  width: 600px;
  margin: 50px 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  input {
    width: 600px;
    height: 30px;
    background: none;
    font-family: Airbnb Cereal App;
    font-size: 16px;
    font-weight: 100;
    border: none;
    border-bottom: 0.5px solid #fff;
    outline: none;
  }
  input[placeholder] {
    text-transform: capitalize;
    color: #fff;
  }
}
